$opacity : .45;
.navbar{
    width: 100%;
    height: 35vh;
    overflow: hidden;
    position: relative;
}
.background{
    background-image: url("src/assets/backsplash-bw.jpg");
    background-position: top center;
    background-size: cover;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.backgroundGradient{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(106, 255, 131, 0.6);
    background: linear-gradient(153deg, rgba(0, 107, 183, $opacity) 0%, rgba(106, 255, 131, $opacity) 100%);
}
.content{
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    user-select: none;
    align-items: stretch;
}
.middle{
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 40px;
    font-weight: lighter;
}
.middle img{
    height: 69px;
}
.middle .p2{
    font-weight: bold;
    color: rgb(255, 183, 50);
}
.bottom{
    position: absolute;
    bottom: 0;
    display: flex;
    margin-left: 60px;
}
.bottom .link{
    font-size: 20px;
    border-bottom: solid 4px transparent;
    transition: border-bottom .4s;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.bottom .link:hover{
    border-bottom: solid 4px #ffb732;
}
@media only screen and (max-width: 800px){
    .navbar{
        height: 28vh;
    }
    .middle{font-size: 30px;}
    .middle img{height: 50px;}
}
@media only screen and (max-width: 600px){
    .bottom{
        margin: 0;
        width: 100%;
        justify-content: space-around;
    }
}
.fade-in.one {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0,1s;
    animation-delay: 0,1s;
}

.fade-in.two {
    -webkit-animation-delay: .6s;
    -moz-animation-delay:.6s;
    animation-delay: .6s;
}
