<div class = navbar>
    <div class = background></div>
    <div class = backgroundGradient></div>
    <div class = content>
        <div class = top></div>
        <div class = middle>
            <img src = "./assets/logo.png">Watch<span class = p2>Tower</span>
        </div>
        <div class = bottom>
            <div class = link routerLink = "/home">Home</div>
            <div class = link routerLink = "/info">Info</div>
            <div class = link><a href = "https://donate.google.com/home/donationWidgetPopup?name=Australia+bushfires&description=Google+provides+this+donations+service+to+help+you+direct+your+funds+for+effective+local+impact&more=https://support.google.com/donations/answer/7177969&campaignid=6272587719901184&h=AJWtUEB3_nDFIDwId0Snaa606E2M&tab=1&hl=en-US&authUser=0">Donate</a></div>
        </div>
    </div>
</div>
