<div style="display:flex; justify-content: center; align-items: center;">
<ngx-charts-bar-vertical
  [view]="[100,200]"
  [scheme]="colorScheme"
  [results]="this.dataService.temp"
  [gradient]="false"
  [xAxis]="false"
  [yAxis]="showYAxis"
  [yScaleMax] = "50"
  [customColors] = "this.dataService.tColor"
  [legend]="false"
  [showXAxisLabel]="false"
  [showYAxisLabel]="false"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
<div class = temp>{{this.dataService.roundedTemp}}°C</div>
</div>
