<div class = main-container>
    <div class = searchbar>
        <i class="material-icons" (click)='onSearch()'>
            search
            </i>
        <AutocompleteComponent style class="input" (setAddress)="getAddress($event)" addressType="geocode"></AutocompleteComponent>
    </div>
    <div class=row>
        <div class ='card'>
            <div class = card-header>
                <i class="material-icons">
                    waves
                </i>
                Air Quality
            </div>
            <app-air-quality style="flex:1"></app-air-quality>
        </div>
        <div class ='card'>
            <div class = card-header>
                <i class="material-icons">
                    brightness_high
                </i>
                Temperature
            </div>
            <app-temperature style="flex:1"></app-temperature>
        </div>
        <div class ='card' style = "width: 100%;height:auto;margin-bottom:10px;">
            <div class = card-header>
                <i class="material-icons">
                    fireplace
                </i>
                Fire Map
            </div>
            <app-map style="flex:1"></app-map>
        </div>
    
</div>
