.main-container{
    min-height: 65vh;
    background: rgb(211, 211, 211);
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.6);
    padding: 20px;
}
.searchbar{
    height: 40px;
    background-color: white;
    width: 100%;
}
