<div class = main-container>
    <div class = searchbar>
        <i class="material-icons" (click)='onSearch()'>
            search
            </i>
        <AutocompleteComponent style class="input" (setAddress)="getAddress($event)" addressType="geocode"></AutocompleteComponent>
    </div>
    <div class=row>
        <div class ='card map fade-in one' style = "width: 100%;height:auto;margin-bottom:10px;">
            <div class = card-header>
                <i class="material-icons">
                    map
                </i>
                Fire Map
            </div>
            <app-map style="flex:1"></app-map>
        </div>
        <app-nearest-fire style = "width:100%; margin-left: 20px; margin-right: 20px;" class = 'fade-in two'></app-nearest-fire>
        <div class ='card long fade-in three'>
            <div class = card-header>
                <i class="material-icons">
                    filter_drama
                </i>
                Precipitation
            </div>
            <app-precipitation style="flex:1"></app-precipitation>
        </div>
        <div class ='card fade-in four'>
            <div class = card-header>
                <i class="material-icons rainfall">
                    format_align_justify
                </i>
                Total Rainfall
            </div>
            <app-total-precipitation style="flex:1"></app-total-precipitation>
        </div>
        <div class ='card fade-in five'>
            <div class = card-header>
                <i class="material-icons">
                    waves
                </i>
                Air Quality
            </div>
            <app-air-quality style="flex:1"></app-air-quality>
        </div>
        <div class ='card fade-in six'>
            <div class = card-header>
                <i class="material-icons">
                    brightness_high
                </i>
                Temperature
            </div>
            <app-temperature style="flex:1"></app-temperature>
        </div>
        <div class ='card fade-in seven'>
            <div class = card-header>
                <i class="material-icons">
                    blur_on
                </i>
                Humidity
            </div>
            <app-humidity style="flex:1"></app-humidity>
        </div>
</div>
